<div class="moment" *ngIf="moment">
  <h2>{{ moment.title }}</h2>
  <img
    src="{{ baseApiUrl }}uploads/{{ moment.image }}"
    alt="{{ moment.title }}"
  />
  <div class="moment__about">
    <h3>Sobre esse momento</h3>
    <p>{{ moment.description }}</p>
  </div>

  <div class="moment__actions">
    <h3>Ações:</h3>
    <a
      routerLink="/moments/edit/{{ moment.id }}"
      class="moment__actions__edit edit-btn"
    >
      <fa-icon [icon]="faEdit"></fa-icon> Editar
    </a>

    <button
      class="moment__actions__remove remove-btn"
      (click)="handlerRemove(moment.id!)"
    >
      <fa-icon [icon]="faTimes"></fa-icon> Excluir
    </button>
  </div>

  <div class="moment__comments">
    <p>Comentários: {{ moment.comments?.length ?? 0 }}</p>
    <div *ngIf="moment.comments!.length > 0; else noComments" class="">
      <div
        class="moment__comments__container"
        *ngFor="let comment of moment.comments"
      >
        <div class="moment__comments__container__comment">
          <p class="moment__comments__container__comment__text">
            {{ comment.text }}
          </p>
          <p class="moment__comments__container__comment__author">
            por: <span>{{ comment.username }}</span>
          </p>
        </div>
      </div>
    </div>

    <ng-template #noComments>
      <p>
      Não há comentarios
    </p>
    </ng-template>
  </div>

  <h3>Deixe um comentário</h3>

  <form [formGroup]="commentForm" class="moment__comments__form" (ngSubmit)="onSubmit(formDir)" #formDir="ngForm">
    <div class="form-group">
      <label for="text">Comentário:</label>
      <textarea
        placeholder="O que você quer comentar?"
        required
        noresize
formControlName="text"
      >
    </textarea>
    </div>
    <div
    class="validation-error"
    *ngIf="text.invalid && formDir.submitted"
  >
    <p *ngIf="text.errors?.['required']">O texto é obrigatório</p>
  </div>
    <div class="form-group">
      <label for="username">Nome:</label>
      <input type="text" placeholder="Digite seu nome" formControlName="username" required  />
    </div>
    <div
    class="validation-error"
    *ngIf="username.invalid && formDir.submitted"
  >
    <p *ngIf="username.errors?.['required']">O Nome é obrigatório</p>
  </div>

    <input type="submit" value="Comentar!" />
  </form>
</div>
