.message {
  position: fixed;
  top: 3em;
  width: 50%;
  left: 25%;
  z-index: 999;
  background-color: white;
  border: 3px solid #dec129;
  display: flex;
  flex-direction: column;
  padding: 1.25em;
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    &__clear {
      padding: 0.5em;
      cursor: pointer;
    }
  }

  p {
    font-size: 1.25rem;
  }
}
