<form>
  <div class="form-group">
    <label for="title">Título</label>
    <input type="text" name="title" id="" placeholder="Adicione um título" required>
  </div>
  <div class="form-group">
    <label for="description">Descrição</label>
    <textarea name="description" rows="5" cols="5" placeholder="Oque aconteceu nesse momento?" required no-resize></textarea>
  </div>

  <div class="form-group">
    <label for="image">Adicione a imagem</label>
    <input type="file" name="image" id="">
  </div>

  <input type="submit" value="{{ btnText }}">
</form>
